body{
    font-family: source-sans-pro;
    background-color: #f2f2f2;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-style: normal;
    font-size:18px;
    font-weight:200;
    color:black;
}
.navbar-inverse{
	margin: 0px;
	background-color: #7d2723;
}
.navbar-brand{
	padding-left: 100%;
	font-size: 45px;
	color: white;	
}
.navbar-brand:hover{
	color: white;
}
.nav{
	color: white;
	font-size: 20px;
}